.uploadAreaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; 
    background-color: #d8d3d3;
}

.uploadArea {
    width: 300px;
    height: 200px;
    border: 2px dashed #a3a1a1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease;
}

.dragging {
    border-color: #6ccaf0;
}

.hidden {
    display: none;
}

.topText {
    margin-bottom: 10px; 
    font-size: 18px; 
}

.uploadButton {
    cursor: pointer;
    padding: 12px 24px;
    background-color: #2d7d83;
    color: #fff;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-family: 'Material Icons'; 
}

.uploadButton:hover {
    background-color: #757677;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .popupContent p {
    margin-bottom: 20px;
    color: #a3a1a1;
    font-family:  sans-serif; 
    text-align: center;
  }
  
  .popupContent button {
    padding: 10px 20px;
    background-color: #2d7d83;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popupContent button:hover {
    background-color: #2d7d83;
  }
